body {
  margin: 0;
  /*all 4 margins will be set to 0*/
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 90px;
  margin-top: 50px auto 0 auto;  /* if it's zero we don't have to specify the unit (px) */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 0.7;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5 rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2; /* the space between lines */
}

hr{
  border: dotted black 6px;
  border-bottom: none;
  width: 8%;  /* cat % din ecran  (folosim % ca sa se modifice in functie de ecranul tlf,laptopului etc)*/
  margin: 80px auto; /* top-bottom and left-right */

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px; /* top-bottom, left-right ( pentru a dinstanta cuvintele)*/
  text-decoration: none;  /* pentru a scapa de underline-ull automat al anchortag-ului */
}

a:hover{
  color: #EAF6F6;  /* sa se vada alta culoare dupa ce apasam pe ele/ sa se vada ca sunt clickable */
}
.top-container {
  background-color: #CEE5D0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
 background-color: #66BFBF;
 padding: 50px 0 20px; /* top left-right bottom  ( am marit zona albastra in inaltime)*/
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 330px;
  top: 40px;
}

.footer-link{
  color: #11999E;
}

.btn{
  color: #11999E;
}

.mountain{
  width: 650px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 30px;
}

.car-img{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto; /*to center the text/ keep the text in the middle */
}


.contact-msg{
  width: 40%; /* imparte un text mai lung in mai multe randuri */
  margin: auto;
  margin: 40px auto 60px;  /* top, left-right, bottom */
}


/* css3buttongenerator.com */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ed);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem; /* 0.75 from 16px */
  padding: 20px 0; /* top-bottom, left-right */
}
